*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


/* Navbar Css */
.navbar{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    background-color: whitesmoke;
    /* background-color: #404040; */
    color: #404040;
}

.navitems1{
    height: 60px;
    width: 60%;
    /* border: 1px solid blue; */
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
}
.logo{
    font-size: 1.3rem !important;
    padding: 17px 15px !important;
}
.nav1item{
    padding: 20px 15px;
    margin-left: 3%;
    font-size: 1rem;
    font-weight: 500;
}
.nav1item::before{
    position: relative;
    border: 2px solid #4681f4;
    content: "";
    width: 100%;
    bottom: -34px;
    left: -3px;
    display: block;
    transform: scaleX(0);
    transition: all 0.6s ease;
    transform-origin: left;
}
.nav1item:hover::before{
    transform: scaleX(1);
}
.nav1item.active::before{
    transform: scaleX(1);
}
.nav1item::after{
    top: -3px;
    position: relative;
}
.navhome::after{
    content: ' Home';
}
.navcreate::after{
    content: ' Create Note';
}
.navabout::after{
    content: ' About';
}
/* .nav1item:hover{
    border-bottom: 4px solid #4681f4;
} */
.navitems2{
    width: 40%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid red; */
}
.nav2item{
    margin-right: 7%;
    align-items: center;
    justify-content: center;
    display: flex; 
    background-color: #5783db;
    color: white;
    box-shadow: 0;
    font-size: 1rem;
    font-weight: 500;
    height: 40px;
    width: 90px;
    border-radius: 7px;
    border: 0;
}
.nav2item:hover{
    background-color: #4681f4;
}
a{
    color: black;
    text-decoration: none;
}
 /* Login form  */

 .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
 }
 .loginform{
    width: 460px;
    height: 500px;
    margin-top: 3%;
    text-align: left;
    padding: 50px 70px 70px 30px;
    border: 1px #ddd solid;
    background-color: #fff;
    border-radius: 8px;
 }
 h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 40px;
 }
label,input{
    font-size: 1rem;
    font-weight: 400;
    display: block;
}
label,input[type=submit]{
    margin-top: 20px;
    font-weight: 500;
}
input{
    border-radius: 5px;
    height: 36px;
    width: 100%;
    padding-left: 5px;
    margin-top: 10px;
    border: 2px solid #9a9a9a;
}
.input:focus{
    border: 20px solid var(--primary) !important;
}
.psign{
    text-align: center;
    margin-top: 40px;
}
.pasign{
  color: blue;
  text-decoration: underline;
}
.btnlogin{
    width: 100%;
    height: 30px;
}

/* Signup Form  */

.Signupform{
    width: 460px;
    height: 600px;
    margin-top: 3%;
    text-align: left;
    padding: 50px 70px 70px 30px;
    border: 1px #ddd solid;
    background-color: #fff;
    border-radius: 8px;
 }

 /* Alert  */
.palert{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .alert{
    position: absolute;
    width: auto;
    background-color: #4681f4;
    color: black;
    border-radius: 100px;
    bottom: 5%;
    padding: 10px 40px;
 }

 /* Create Note  */
.CreateForm{
    width: 90%;
    margin-top: 3%;
    padding: 20px;
}

.CreateForm input,label{
    width: 50%;
    font-size: 1rem;
}

.btnreset{
    display: none;
}
.btncreatenote{
    cursor: pointer;
    width: 150px !important;
}
.rmdate{
    padding-right: 10px;
}
#reminder p{
    display: inline;
}
/* Your Notes  */
.ynoteparent{
    height: 100vh;
    overflow-x:hidden ;
}
.ynote{
    margin:50px 0 -20px 45px;
    font-size: 2rem;
    font-weight: 700;
}
.row{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    flex-wrap: wrap;
    /* opacity: 0.5; */
}
.col{
    width: 25%;
    height: 100%;
    padding:20px 20px;
    border: 2px solid black;
    margin: 2%;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.title{
    width: 100%;
    height: 35px;
    text-align: left;
    border-bottom: 2px solid #AAAAAA;
}
.tag{
    position: relative;
    top: -33px;
    left: 80%;
    width: fit-content;
    padding: 5px;
    background-color: #4681f4;
    color: white;
    border-radius: 20px;
    font-size: 0.8rem;
}
.description{
    height: 50px;
    overflow: auto;
}
.funct div{
    display: inline;
    margin-right: 15px;
    cursor: pointer;
}
.funedit::after{
    content: "Edit";
    top: -3px;
    left: 3px;
    position: relative;
}
.fundelete::after{
    content: "Delete";
    top: -3px;
    left: 3px;
    position: relative;
}

.drmdate{
    border-radius: 20px;
    font-size: 13px;
    background-color: cornflowerblue;
    bottom: 4px;
    /* left: 80px; */
    cursor: auto !important;
    position: relative;
    color: whitesmoke;
    padding: 5px;
}

/* Update Note Form  */
.unote{
    position: absolute;
    opacity: 0;
    display: none;  /*display: flex on update button click; */
    justify-content: center;
    /* align-items: center; */
    height: 80vh;
    width: 100vw;
}
.updateform{
    /* margin-top: -100px; */
    border: 2px solid rgb(162, 157, 157);
    height: fit-content;
    border-radius: 10px;
    background-color: white;
    z-index: 1;
    width: 40%;
    padding:40px;
}
.upbtn{
    display: flex;
}
.btncancle{
    margin-top: 20px;
    cursor: pointer;
}
.imgclose{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 9%;
    right: 34%;
    cursor: pointer;

}

/* footer  */
footer{
    height: fit-content;
    background-color:rgb(81, 79, 79) ;
    width: 100vw;
    bottom: 0;
    color: white;
    padding: 50px;
}

 .foot h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
 }
 .foot{
    display: flex;
    justify-content: space-around;
 }
.footitem{
    color: white;
    cursor: pointer;
}
.footitem:hover{
    color: #4681f4;
}
.foot div{
    width: 15%;
}
.foot ul{
    padding-left: 0px;
 }
.foot li{
    margin-bottom: 8px;
    text-decoration: none;
    display: block;
}
.footlogo{
    margin-left:80px ;
    margin-top: -18px;
    padding: 7px;
    margin-bottom: 22px;
    cursor: pointer;
}

/* Profile  */
.profilecontainer{
    height: 80vh;
    margin:70px;
}
.profileform{
    width: 50%;
}

/* For tablet  */

@media only screen and (max-width:1130px){
    .col{
        width: 40%;
        height: 100%;
        padding:20px 20px;
        border: 2px solid black;
        margin: 2%;
        border: 2px solid whitesmoke;
        border-radius: 10px;
    }
}
    /* For mobile phones: */
@media only screen and (max-width:790px){
    .logo{
        display: none;
    }

    .loginform{
        border: none;
    }
    .Signupform{
        border: none;
    }
    /* footer  */
    .foot{
        display: block;
        /* justify-content: space-around; */
     }
     .foot div{
        width: 100%;
    }
    .foot h2{
        font-size: 1.5rem;
        margin-top: 20px;
        color: #5783db;
     }
}
@media only screen and (max-width: 880px) {
    /* Navbar css  */
    .navhome::after{
        content: ' ';
        /* top: -3px;
        position: relative; */
    }
    .navcreate::after{
        content: '';
        
    }
    .navabout::after{
        content: '';
    }
    .logo{
        font-size: 0.5rem;
    }

    .nav2item{
        margin-right: 7%;
        background-color: #5783db;
        color: white;
        box-shadow: 0;
        font-size: 0.7rem;
        font-weight: 500;
        height: 30px;
        width: 90px;
        border-radius: 7px;
        border: 0;
    }

    .nav1item{
        padding: 20px 15px;
        margin-left: 10%;
        font-size: 1rem;
        font-weight: 500;
    
    }

    .btnlogin{
        width: 100%;
        height: 30px;
    }
    /* Alert  */
    .alert{
        bottom: 10%;
    }

    /* Create Note  */

    .CreateForm input,label{
        width: 90%;
        font-size: 1rem;
    }
        /* Create Note  */

        .CreateForm input,label{
            width: 90%;
            font-size: 1rem;
        }
    
        /* Your Notes  */
    .col{
        width: 90%;
        height: 100%;
        padding:20px 20px;
        border: 2px solid black;
        margin: 2%;
        border: 2px solid whitesmoke;
        border-radius: 10px;
    }
    .updateform{
        width: 90%;
    }
    /* updateform close img  */
    .imgclose{
        right: 12%;
    
    }
      /* Profile  */
      .profilecontainer{
        height: 80vh;
        margin:50px;
    }
    .profileform{
        width: 90%;
    }
  }





